.tooltip
  display: inline-flex

.tooltip-content
  position: fixed
  z-index: 100
  display: inline-flex
  align-items: center
  gap: var(--space-md)
  width: max-content
  max-width: 220px
  padding: 6px 10px
  background: linear-gradient(var(--color-surface-elevated), var(--color-surface-elevated)) padding-box, var(--gradient-border) border-box
  border: 1px solid transparent
  border-radius: var(--border-radius-md)
  color: var(--color-text)
  font-size: var(--font-size-sm)
  font-weight: var(--font-weight-semi-bold)
  opacity: 0
  pointer-events: none
  transition: opacity var(--transition-duration-main) var(--transition-timing-main), transform var(--transition-duration-main) var(--transition-timing-main)
  white-space: nowrap

.tooltip-message,
.tooltip-hint
  display: inline-flex
  align-items: center
  gap: var(--space-xs)

.tooltip-hint
  color: var(--color-text-secondary)
  font-weight: var(--font-weight-regular)

.tooltip-hint-icon
  color: currentColor
  font-size: calc(var(--font-size-sm) - 1px)
  line-height: var(--line-height-sm)

.tooltip-content-open
  opacity: 1

.tooltip-content-top
  transform: translate3d(-50%, 4px, 0)

  &.tooltip-content-open
    transform: translate3d(-50%, 0, 0)

.tooltip-content-right
  transform: translate3d(-4px, -50%, 0)

  &.tooltip-content-open
    transform: translate3d(0, -50%, 0)

.tooltip-content-bottom
  transform: translate3d(-50%, -4px, 0)

  &.tooltip-content-open
    transform: translate3d(-50%, 0, 0)

.tooltip-content-left
  transform: translate3d(4px, -50%, 0)

  &.tooltip-content-open
    transform: translate3d(0, -50%, 0)

@starting-style
  .tooltip-content-open
    opacity: 0

  .tooltip-content-top.tooltip-content-open
    transform: translate3d(-50%, 4px, 0)

  .tooltip-content-right.tooltip-content-open
    transform: translate3d(-4px, -50%, 0)

  .tooltip-content-bottom.tooltip-content-open
    transform: translate3d(-50%, -4px, 0)

  .tooltip-content-left.tooltip-content-open
    transform: translate3d(4px, -50%, 0)
