.menu
  padding: 0 var(--space-sm)
  display: flex
  flex-direction: column
  gap: 1px
  transition: padding var(--transition-duration-sidebar) var(--transition-timing-sidebar)

  .tooltip
    display: flex

.menu-scrollable
  padding-bottom: var(--space-sm)
